/* FONTS */
h1,
h2,
h3,
h4,
h5 {
	font-family: "Yanone Kaffeesatz", sans-serif !important;
}
h1 {
	font-size: 2.75rem;
}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.75rem;
}
.yanone {
	font-family: "Yanone Kaffeesatz", sans-serif;
}

.roboto {
	font-family: "Roboto", sans-serif;
}

/* NAVIGATION */

.v-toolbar__content {
	padding-top: 0;
	padding-bottom: 0;
}

.v-toolbar__title a {
	text-decoration: none;
	font-family: "Yanone Kaffeesatz", sans-serif;
	font-size: 2rem;
}

.v-toolbar__items .v-btn__content {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-transform: capitalize;
}

/* Layout */
body {
	font-family: -apple-system, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	overflow: hidden;
}

.home_section {
	min-height: 50vh;
	padding: 1em 0;
}

/* Breakpoint Medium + */
@media screen and (min-width: 960px) {
	.home_section {
		padding: 4em 0;
	}
}
